<html>
<head>

    <link rel="stylesheet" type="text/css" href="https://www.ebi.ac.uk/~mnuhn/regulatory_build_stats/js/datatables.css"/>

    <script src="https://www.ebi.ac.uk/~mnuhn/regulatory_build_stats/js/Chart.bundle.js"></script>
    <script src="https://www.ebi.ac.uk/~mnuhn/regulatory_build_stats/js/utils.js"></script>
    <script type="text/javascript" language="javascript" src="https://www.ebi.ac.uk/~mnuhn/regulatory_build_stats/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://www.ebi.ac.uk/~mnuhn/regulatory_build_stats/js/datatables.js"></script>

</head>

<body>
    <h1>Disease trends</h1>

<form action="{% url 'get_input:get_input'  %}" method="post">

{% csrf_token %}

<table>
{{ form.as_table }}
</table>

<input type="submit" value="Submit" />

{% if draw_chart %}

<h1>Disease trend for <em>{{ name }}</em></h1>

<p>
    From the year <em>{{ start_year }}</em> until <em>{{ end_year }}</em> the number of publications mentioning it were:
</p>


<div style="width: 80%;">
<canvas id="myChart"></canvas>
</div>

<h3>Summary</h3>

<script type="text/javascript" class="init">
$(document).ready(function() {
    $('#overview_table').DataTable();
} );
</script>

<table id="overview_table">
<thead>
    <tr>
        <th>Year</th>
        <th>Number of papers</th>
    </tr>
</thead>

<tbody>

{% for year in years_sorted %}

<tr>
    <td>{{ year }}</td>
    <td align="right">{{ counts|get_item:year }}</td>
</tr>

{% endfor %}

</tbody>
</table>

<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
            {% for year in years_sorted %}
            "{{ year }}",
            {% endfor %}
        ],
        datasets: [{
            label: '# of papers',
            data: [
                {% for year in years_sorted %}
                "{{ counts|get_item:year }}",
                {% endfor %}
            ],
            backgroundColor: 
                'rgba(54, 162, 235, 0.2)',
            
            borderColor: 
                'rgba(54, 162, 235, 1)',
            
            borderWidth: 1
        }]
    },
    options: {
    
        responsive: true,
        legend: {
            display: true,
            position: 'bottom',
        },
        scales: {
            yAxes: [{
                ticks: {
                    min: 0
                }
            }]
        },
        title: {
            display: false,
            text: 'Total numbers by feature type'
        },
    
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

{% endif %}

</body>
</html>