<html>
<body>
    <h1>Disease trend for <em>{{ name }}</em></h1>

<p>
    From the year <em>{{ start_year }}</em> until <em>{{ end_year }}</em> the number of publications mentioning it were:
</p>

<ul>
{% for year, count in counts.items %}
    <li>{{ year }}: {{ count }}</li>
{% endfor %}
</ul>


<script src="https://www.ebi.ac.uk/~mnuhn/regulatory_build_stats/js/Chart.bundle.js"></script>

<canvas id="myChart" width="200px"></canvas>

<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
            {% for year, count in counts.items %}
            "{{ count }}",
            {% endfor %}
        ],
        datasets: [{
            label: '# of papers',
            data: [
                {% for year, count in counts.items %}
                "{{ count }}",
                {% endfor %}
            ],
            backgroundColor: 
                'rgba(54, 162, 235, 0.2)',
            
            borderColor: 
                'rgba(54, 162, 235, 1)',
            
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

</body>
</html>